﻿@model DziekanatWzim.Models.Testowy

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Testowy</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Stringi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Stringi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Wartosc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Wartosc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UpdateDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UpdateDate)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
