*{
    margin:0;
    padding:0;
}
a{
    text-decoration: none;
    cursor:pointer;
}
img{
    border:0;
}
body{
    font-family: 'Lato';
}
.clear{
    clear:both;
}
.content{
    width:100%;
    display: table;
}
.left_content{
    width:20%;
    float:left;
    background: #2f4050;
    height:100%;
    display: block;
    position: fixed;
    left:0;
    top:0;
    bottom:0;
    right:0;
}
.left_content .menu{
    width:100%;
    display: table;
    margin:20px 0;
}
.left_content .menu li{
    width:100%;
}
.left_content .menu li a{
    padding:10px 0 10px 20px;
    width:calc(100%-20px);
    display: block;
    color:#fff;
    text-transform: uppercase;
    font-size:14px;
}
.left_content .menu li a.active{
    background-color:#fff;
    color:#2f4050;
    text-decoration: none;
}
.left_content .menu li a:hover{
    background-color:#fff;
    color:#2f4050;
    text-decoration: none;
    transition: all ease-in 0.3s;
}
.left_content .menu li span{
    margin-right:10px;
}
.right_content{
    width:100%;
    display: table;
    padding-left:20%;
    background: #f3f3f5;
}
.right_content .header{
    width:100%;
    background: #fff;
    -webkit-box-shadow: 0px 3px 15px 0px rgba(50, 50, 50, 0.5);
    -moz-box-shadow:    0px 3px 15px 0px rgba(50, 50, 50, 0.5);
    box-shadow:         0px 3px 15px 0px rgba(50, 50, 50, 0.5);
    border-bottom: 1px solid #c6c6c6;
}
.right_content .header h1{
    font:300 34px 'Lato';
    padding:20px;
    margin:0;
}
.right_content .news{
    display:table;
    width:100%;
}
.right_content .news h2{
    margin: 20px 0 0px 30px;
    font:400 30px 'Lato';
}
.right_content .news .single_news{
    max-width: 400px;
    width: 100%;
    float: left;
    border: 1px solid #ccc;
    padding: 20px;
    margin: 30px;
    background-color: #fff;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(50, 50, 50, 0.5);
    -moz-box-shadow:    0px 0px 10px 0px rgba(50, 50, 50, 0.5);
    box-shadow:         0px 0px 10px 0px rgba(50, 50, 50, 0.5);
}
.right_content .news .single_news .title{
    font: 900 20px/28px 'Lato';
}
.right_content .news .single_news .author_date{
    font:300 12px 'Lato';
    margin:10px 0;
}
.right_content .news .single_news .xtext{
    font:400 16px/22px 'Lato';
}
.social{
    text-align: center;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    padding:20px 0;
}
.social span{
    font:400 14px 'Lato';
    color:#fff;
    margin:0 0 15px 0;
    display: block;
}
.social img{
    width: 21%;
    height: auto;
    border-radius: 50%;
    margin: 0 4% 0 0;
}
.download{
    width: calc(100% - 50px);
    display: table;
    margin: 15px 0 15px 30px;
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}
.download .title{
    width:70%;
    float:left;
}
.download .type{
    width:10%;
    float:left;
}
.download .size{
    width:10%;
    float:left;
}
.download .download_file{
    width:10%;
    float:left;
}