﻿<!DOCTYPE html>
<html>
<head>
    <title>Wirtualny dziekanat</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="css/style.css" />
    <link rel="stylesheet" type="text/css" href="css/bootstrap-theme.min.css" />
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css" />
    <link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
                                              


 
</head>
<body>
    <div class="content">

        <div class="left_content">

            <ul class="menu">
                <li><a href="@Url.Action("Index", "Home")" class="active"><span class="glyphicon glyphicon-home" aria-hidden="true"></span> Home</a></li>
                <li><a href="@Url.Action("Index", "Calendar")"><span class="glyphicon glyphicon-calendar" aria-hidden="true"></span> Plan zajęć</a></li>
                <li><a href="@Url.Action("Index", "Duty")"><span class="glyphicon glyphicon-briefcase" aria-hidden="true"></span> Dyżury</a></li>
                <li><a href="@Url.Action("Index", "Files")"><span class="glyphicon glyphicon-download-alt" aria-hidden="true"></span> Download</a></li>
            </ul>
              

            <div class="social">
                <span>WZIM w mediach społecznościowych</span>
                <div class="clear"></div>
                <a href="http://www.facebook.com"><img src="img/fb.png"></a>
                <a href="http://www.twitter.com"><img src="img/twitter.png"></a>
                <a href="http://www.youtube.com"><img src="img/youtube.png"></a>

            </div>

        </div>

       
        @RenderBody()

    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
