﻿<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav" id="side-menu">
            <li class="nav-header">
               
                    
                    <span>
                        <img alt="image" class="img-circle" src="~/Images/sggw.png" />
                    </span>
                    
  
                        <span class="clear">
                            <span class="block m-t-lg">
                                <strong class="font-bold">WZiM</strong>
                            </span> <span class="text-muted text-capitalize block">witamy</span>
                        </span>
       

            </li>

            <li class="">
                @Html.ActionLink("Home", "Index", "Home")
            </li>
            <li class="">
                @Html.ActionLink("Dyżury", "Index", "Duty")<i class="fa fa-database"></i>
            </li>
            <li class="">
               @Html.ActionLink("Pliki", "Index", "Files")<i class="fa fa-magic"></i>
            </li>

        </ul>
    </div>
</nav>